html {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/bg.png") no-repeat;
  background-color: #243225;
  font-family: 'Amatic SC', sans-serif;
  letter-spacing: 0.5px;
}

body {
  border: 2px solid #45ace6;
  -webkit-box-shadow: 0 0 5px 0 #45ace6;
          box-shadow: 0 0 5px 0 #45ace6;
  border-radius: 35px;
  width: 600px;
  margin-top: 30px;
}

header {
  background-color: #b5def5;
  padding: 1px;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 1920px) {
  header h1 {
    font-size: calc((50 * 0.7px) + (50 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  header h1 {
    font-size: 50px;
  }
}

header .authentification {
  position: absolute;
  top: 30px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .authentification .auth-btn {
  width: 70px;
  height: 70px;
  background: url("../img/no-auth.svg") no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.account .user {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media (max-width: 1920px) {
  .account .user {
    font-size: calc((25 * 0.7px) + (25 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .account .user {
    font-size: 25px;
  }
}

.account .leave {
  color: black;
}

.hidden {
  display: none !important;
}

.done {
  text-decoration: line-through;
  background-color: #cdd2d6 !important;
}

.filters {
  border-bottom: 1px solid #45ace6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b5def5;
}

.filters .filter-container {
  margin-bottom: 10px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filters .filter-container select {
  font-family: inherit;
  padding-left: 5px;
  width: 150px;
  height: 32px;
  letter-spacing: 0.5px;
  background-color: inherit;
  border: 2px solid #45ace6;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 10px;
  background-size: 25px 25px;
  background: url("../img/arrow.png"), linear-gradient(92.8deg, #9bc7f0 1.23%, #b8d8f6 88.48%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

@media (max-width: 1920px) {
  .filters .filter-container select {
    font-size: calc((20 * 0.7px) + (20 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .filters .filter-container select {
    font-size: 20px;
  }
}

.filters .filter-container select:hover {
  cursor: pointer;
  background-color: #b8dafa;
}

@media (max-width: 1920px) {
  .filters .filter-container option {
    font-size: calc((14 * 0.7px) + (14 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .filters .filter-container option {
    font-size: 14px;
  }
}

.tasks .main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #e2f2fb;
}

.tasks .main-container .task-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 10px;
}

.tasks .main-container .no-task-text {
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 1920px) {
  .tasks .main-container .no-task-text {
    font-size: calc((36 * 0.7px) + (36 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .tasks .main-container .no-task-text {
    font-size: 36px;
  }
}

.tasks .main-container .task-list li {
  list-style: upper-roman;
  font-size: 32px;
  border: 2px solid #45ace6;
  border-radius: 20px;
  padding: 15px 35px;
  margin-bottom: 15px;
  width: 55%;
  height: auto;
  word-wrap: break-word;
  position: relative;
}

.tasks .main-container .task-list li .kebab {
  position: absolute;
  left: 85%;
  padding: 20px;
  color: black;
  background: url("../img/points.svg") no-repeat 100% 100%;
  cursor: pointer;
}

.tasks .main-container .task-list .to-do {
  background-color: #fef6db;
}

.tasks .main-container .task-list .better-do {
  background-color: #7de2d0;
}

.tasks .main-container .task-list .necessary-do {
  background-color: #e87bb5;
}

.tasks .main-container .task-menu {
  width: 75px;
  height: auto;
  border: 2px solid #45ace6;
  border-radius: 15px;
  background-color: #b8dafa;
  position: absolute;
  left: 101%;
  z-index: 1;
  bottom: -2px;
}

.tasks .main-container .task-menu ul {
  padding: 0;
  margin: 0;
}

.tasks .main-container .task-menu li {
  border: none;
  border-radius: 0;
  list-style: none;
  width: 60px;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px solid #45ace6;
  cursor: pointer;
  margin: 0;
}

@media (max-width: 1920px) {
  .tasks .main-container .task-menu li {
    font-size: calc((17 * 0.7px) + (17 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .tasks .main-container .task-menu li {
    font-size: 17px;
  }
}

.tasks .main-container .task-menu li:first-child {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.tasks .main-container .task-menu li:last-child {
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tasks .main-container .task-menu li:hover {
  background-color: #abbdd2;
}

.footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 35px;
  padding-top: 25px;
  border-top: 1px solid #45ace6;
  background-color: #b5def5;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

@media (max-width: 1920px) {
  .footer form {
    font-size: calc((24 * 0.7px) + (24 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .footer form {
    font-size: 24px;
  }
}

.footer form fieldset {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  border-radius: 20px;
  border: 2px solid #45ace6;
}

@media (max-width: 1920px) {
  .footer form legend {
    font-size: calc((28 * 0.7px) + (28 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .footer form legend {
    font-size: 28px;
  }
}

.footer form label {
  border: 1px solid #45ace6;
  border-radius: 15px;
  padding: 10px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(92.8deg, #9bc7f0 1.23%, #b8d8f6 88.48%);
}

.footer form input[type='radio'] {
  display: none;
}

.footer form input[type='radio']:checked + label {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #86a7d9), color-stop(90%, #57b2e6));
  background: linear-gradient(90deg, #86a7d9 10%, #57b2e6 90%);
}

.footer form div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
  padding-top: 25px;
  width: 85%;
}

.footer form div:last-child input {
  width: 300px;
  height: 25px;
  font-family: 'Amatic SC', sans-serif;
  border-radius: 10px;
  padding-left: 15px;
  border: 2px solid #45ace6;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

@media (max-width: 1920px) {
  .footer form div:last-child input {
    font-size: calc((20 * 0.7px) + (20 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .footer form div:last-child input {
    font-size: 20px;
  }
}

.footer form div:last-child button {
  width: 100px;
  height: 32px;
  font-family: 'Amatic SC', sans-serif;
  border-radius: 10px;
  border: 2px solid #45ace6;
  background: linear-gradient(92.82deg, #7de9d6 11.52%, #41b49f 100%);
  margin-right: 2px;
}

@media (max-width: 1920px) {
  .footer form div:last-child button {
    font-size: calc((20 * 0.7px) + (20 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .footer form div:last-child button {
    font-size: 20px;
  }
}

.footer form div:last-child button:hover {
  background-color: #abbdd2;
  cursor: pointer;
}

.modal.open .modal-window {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.modal.open .modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.modal.hide .modal-window {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.modal.hide .modal-overlay {
  background: rgba(0, 0, 0, 0);
}

.modal.open .modal-overlay,
.modal.open .modal-window,
.modal.hide .modal-overlay,
.modal.hide .modal-window {
  opacity: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
}

.modal-window {
  width: 450px;
  min-height: 417px;
  border-radius: 5px;
  background-color: #fff;
  margin: 0 auto;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-window,
.modal-overlay {
  opacity: 0;
  z-index: 100;
}

.modal-container {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.modal-container.rotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.modal-window .modal-reg {
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.modal-window .modal-auth,
.modal-window .modal-reg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.modal-window .modal-auth .form {
  margin-bottom: 5px;
  gap: 5px;
}

.modal-window .cross {
  position: absolute;
  cursor: pointer;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background: url("../img/cross.svg") no-repeat;
  background-size: cover;
  display: none;
}

@media (max-width: 1920px) {
  .modal-window h2 {
    font-size: calc((42 * 0.7px) + (42 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .modal-window h2 {
    font-size: 42px;
  }
}

.modal-window .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-window .form input {
  height: 45px;
  width: 300px;
  border: none;
  border-bottom: 1px solid #000;
}

@media (max-width: 1920px) {
  .modal-window .form input {
    font-size: calc((29 * 0.7px) + (29 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .modal-window .form input {
    font-size: 29px;
  }
}

.modal-window .form .submit-btn {
  border: none;
  margin-top: 50px;
  background-color: #b5def5;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 1920px) {
  .modal-window p {
    font-size: calc((19 * 0.7px) + (19 * 0.3) * (100vw / 1920));
  }
}

@media (min-width: 1920px) {
  .modal-window p {
    font-size: 19px;
  }
}

.modal-window p a {
  color: black;
}

@media (max-width: 1199px) {
  body {
    width: 550px;
  }
  .filters .filter-container select {
    width: 120px;
  }
}

@media (max-width: 1199px) and (max-width: 1920px) {
  .tasks .main-container .task-list li {
    font-size: calc((32 * 0.7px) + (32 * 0.3) * (100vw / 1920));
  }
}

@media (max-width: 1199px) and (min-width: 1920px) {
  .tasks .main-container .task-list li {
    font-size: 32px;
  }
}

@media (max-width: 1199px) {
  .tasks .main-container .task-list li .kebab {
    bottom: 13px;
    left: 82%;
  }
  .tasks .main-container .task-menu {
    width: 72px;
    left: 100.7%;
  }
  .tasks .main-container .task-menu li {
    width: 57px;
  }
}

@media (max-width: 1199px) and (max-width: 1920px) {
  .tasks .main-container .task-menu li {
    font-size: calc((18 * 0.7px) + (18 * 0.3) * (100vw / 1920));
  }
}

@media (max-width: 1199px) and (min-width: 1920px) {
  .tasks .main-container .task-menu li {
    font-size: 18px;
  }
}

@media (max-width: 1199px) {
  .modal-window {
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  body {
    margin-top: 10px;
    width: 70%;
    min-width: 470px;
  }
  header .authentification {
    top: 10px;
    right: 10px;
  }
  header .authentification .auth-btn {
    width: 60px;
    height: 60px;
  }
  .account .user {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .tasks .main-container .task-list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .tasks .main-container .task-list li {
    margin-left: 15px;
    width: 80%;
    padding: 10px 25px;
  }
  .tasks .main-container .task-list li .kebab {
    bottom: 7px;
    left: 86%;
  }
  .tasks .main-container .task-menu {
    width: 65px;
    left: 102%;
  }
  .tasks .main-container .task-menu li {
    width: 55px;
    padding: 0;
    margin-left: 0px;
    padding: 3px 0 3px 10px;
  }
  .modal-window {
    width: 350px;
    min-height: 390px;
    margin-top: -70px;
  }
  .modal-window h2 {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  body {
    margin-top: 0px;
    width: 100%;
    min-width: 350px;
  }
  header .authentification {
    top: 5px;
    right: 5px;
  }
  header .authentification .auth-btn {
    width: 55px;
    height: 55px;
  }
  .account .user {
    margin-top: 7px;
  }
  .tasks .main-container .task-list li {
    margin-left: -10px;
    width: 85%;
    padding: 7px 35px 7px 15px;
  }
  .tasks .main-container .task-list li .kebab {
    bottom: 3px;
    left: 84%;
  }
  .tasks .main-container .task-menu {
    width: 60px;
    left: 101%;
  }
  .tasks .main-container .task-menu li {
    width: 50px;
    padding: 0;
    margin-left: 0px;
    padding: 3px 0 3px 10px;
  }
  .footer form label {
    padding: 5px 10px;
  }
  .modal-window {
    width: 340px;
    min-height: 370px;
    margin-top: -90px;
  }
  .modal-window .cross {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */