@media (max-width: 1199px) {
    .to-do-list-container {
        width: 550px;
    }

    .filters .filter-container select {
        width: 120px;
    }

    .tasks {
        .task-list li {
            .kebab {
                bottom: 14px;
            }

            .task-menu {
                width: 70px;
                left: 100.7%;

                li {
                    padding: 6px 0;
                }
            }
        }
    }

    .modal-window {
        min-height: 400px;
    }
}

@media (max-width: 767px) {
    .to-do-list-container {
        margin-top: 10px;
        width: 70%;
        min-width: 470px;
    }

    header .authentification {
        top: 10px;
        right: 10px;

        .auth-btn {
            width: 60px;
            height: 60px;
        }
    }

    .popup {
        top: 40px;
        right: 65px;
    }

    .tasks .task-list {
        align-items: flex-start;

        li {
            margin-left: 15px;
            width: 80%;
            padding: 10px 25px;

            .kebab {
                bottom: 7px;
            }

            .task-menu {
                width: 60px;
                left: 101%;

                li {
                    width: 100%;
                    padding: 4.2px 0;
                    margin-left: 0px;
                }
            }
        }
    }

    .modal-window {
        width: 350px;
        min-height: 390px;
        margin-top: -70px;
    }

    .modal-window h2 {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .to-do-list-container {
        margin-top: 0px;
        width: 100%;
        min-width: 350px;
        border: none;
        border-radius: 0;
    }

    header {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    .popup {
        margin-left: 25px;
    }

    .filters {
        .filters-container {
            .select {
                width: 120px;
            }

            .options {
                li {
                    width: 120px;
                }
            }
        }
    }

    .tasks {
        background-color: transparent;

        .task-list li {
            margin-left: -10px;
            width: 85%;
            padding: 7px 35px 7px 15px;

            .kebab {
                bottom: 3px;
            }

            .task-menu {
                width: 60px;
                left: 101%;

                li {
                    width: 100%;
                    padding: 2.5px 0;
                    margin-left: 0px;
                }
            }
        }
    }

    .footer form {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        label {
            padding: 5px 10px;
        }
    }

    .modal-window {
        width: 340px;
        min-height: 370px;
        margin-top: -90px;
    }

    .modal-window .cross {
        display: block;
    }
}
