@import 'font-size.scss';

$main-color: #b5def5;
$mid-color: lighten($main-color, 10%);
$border-color: darken($main-color, 25%);

html {
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../img/bg.png) no-repeat;
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 0.5px;
}

body {
    border: 2px solid $border-color;
    box-shadow: 0 0 5px 0 $border-color;
    border-radius: 35px;
    width: 600px;
    margin-top: 30px;
}

header {
    h1 {
        text-align: center;
        @include font(50);
        text-transform: uppercase;
    }
    background-color: $main-color;
    padding: 1px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
}

.hidden {
    display: none;
}

.done {
    text-decoration: line-through;
    background-color: rgb(205, 210, 214) !important;
}

.filters {
    border-bottom: 1px solid $border-color;
    display: flex;
    justify-content: center;
    background-color: $main-color;
}

.filters .filter-container {
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.filters .filter-container select {
    font-family: inherit;
    @include font(20);
    padding-left: 5px;
    width: 150px;
    height: 32px;
    letter-spacing: 0.5px;
    background-color: inherit;
    border: 2px solid $border-color;
    appearance: none;
    border-radius: 10px;
    background-size: 25px 25px;
    background: url('../img/arrow.png'), linear-gradient(92.8deg, #9bc7f0 1.23%, #b8d8f6 88.48%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.filters .filter-container select:hover {
    cursor: pointer;
    background-color: #b8dafa;
}

.filters .filter-container option {
    @include font(14);
}

.tasks .main-container {
    display: flex;
    flex-direction: column;
}

.tasks .main-container .task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $mid-color;
    margin: 0px;
    padding: 25px 0 10px 0;
}

.tasks .main-container .task-list .no-task-text {
    @include font(36);
}

.tasks .main-container .task-list li {
    list-style: upper-roman;
    @include font(32);
    border: 2px solid $border-color;
    border-radius: 20px;
    padding: 15px 35px;
    margin-bottom: 15px;
    width: 55%;
    height: auto;
    word-wrap: break-word;
    position: relative;
}

.tasks .main-container .task-list li .points {
    position: absolute;
    left: 85%;
    padding: 20px;
    color: black;
    background: url('../img/points.svg') no-repeat 100% 100%;
    cursor: pointer;
}

.tasks .main-container .task-list .to-do {
    background-color: #fef6db;
}

.tasks .main-container .task-list .better-to-do {
    background-color: #7de2d0;
}

.tasks .main-container .task-list .necessary-to-do {
    background-color: #e87bb5;
}

.tasks .main-container .task-menu {
    width: 75px;
    height: auto;
    border: 2px solid $border-color;
    border-radius: 15px;
    background-color: #b8dafa;
    position: absolute;
    left: 101%;
    z-index: 1;
    bottom: 0px;
}

.tasks .main-container .task-menu ul {
    padding: 0;
    margin: 0;
}

.tasks .main-container .task-menu li {
    border: none;
    border-radius: 0;
    list-style: none;
    @include font(18);
    width: 60px;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    margin: 0;
}

.tasks .main-container .task-menu li:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.tasks .main-container .task-menu li:last-child {
    border: none;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.tasks .main-container .task-menu li:hover {
    background-color: darken(rgb(188, 202, 219), 5%);
}

.footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include font(24);
    padding-bottom: 35px;
    padding-top: 25px;
    border-top: 1px solid $border-color;
    background-color: $main-color;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.footer form fieldset {
    width: 85%;
    display: flex;
    gap: 5%;
    border-radius: 20px;
    border: 2px solid $border-color;
}

.footer form legend {
    @include font(28);
}

.footer form label {
    border: 1px solid $border-color;
    border-radius: 15px;
    padding: 10px 15px;
    flex: 1 1;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(92.8deg, #9bc7f0 1.23%, #b8d8f6 88.48%);
}

.footer form input[type='radio'] {
    display: none;
}

.footer form input[type='radio']:checked + label {
    background: linear-gradient(90deg, #86a7d9 10%, #57b2e6 90%);
}

.footer form div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    padding-top: 25px;
    width: 85%;
}

.footer form div:last-child input {
    width: 300px;
    height: 25px;
    font-family: 'Amatic SC', sans-serif;
    border-radius: 10px;
    @include font(20);
    padding-left: 15px;
    border: 2px solid $border-color;
    flex: 1 1;
}

.footer form div:last-child button {
    width: 100px;
    height: 32px;
    font-family: 'Amatic SC', sans-serif;
    @include font(20);
    border-radius: 10px;
    border: 2px solid $border-color;
    background: linear-gradient(92.82deg, #7de9d6 11.52%, #41b49f 100%);
    margin-right: 2px;
}

.footer form div:last-child button:hover {
    background-color: darken(rgb(188, 202, 219), 5%);
    cursor: pointer;
}

@media (max-width: 1199px) {
    body {
        width: 550px;
    }

    .filters .filter-container select {
        width: 120px;
    }

    .tasks .main-container .task-list li .points {
        bottom: 13px;
        left: 82%;
    }

    .tasks .main-container .task-menu {
        width: 72px;
        left: 100.7%;
    }

    .tasks .main-container .task-menu li {
        width: 57px;
    }
}

@media (max-width: 767px) {
    body {
        margin-top: 10px;
        width: 75%;
        min-width: 470px;
    }

    .tasks .main-container .task-list {
        align-items: flex-start;
    }

    .tasks .main-container .task-list .no-task-text {
        align-self: center;
    }

    .tasks .main-container .task-list li {
        margin-left: 15px;
        width: 80%;
        padding: 10px 25px;
    }

    .tasks .main-container .task-list li .points {
        bottom: 7px;
        left: 87%;
    }

    .tasks .main-container .task-menu {
        width: 65px;
        left: 102%;
    }

    .tasks .main-container .task-menu li {
        width: 55px;
        padding: 0;
        margin-left: 0px;
        padding: 3px 0 3px 10px;
    }
}

@media (max-width: 480px) {
    body {
        margin-top: 0px;
        width: 100%;
        min-width: 350px;
    }

    .tasks .main-container .task-list li {
        margin-left: -10px;
        width: 85%;
        padding: 7px 35px 7px 15px;
    }

    .tasks .main-container .task-list li .points {
        bottom: 3px;
        left: 84%;
    }

    .tasks .main-container .task-menu {
        width: 60px;
        left: 100.9%;
    }

    .tasks .main-container .task-menu li {
        width: 50px;
        padding: 0;
        margin-left: 0px;
        padding: 3px 0 3px 10px;
    }

    .footer form label {
        padding: 5px 10px;
    }
}
